.tabs {
  ul {
    display: flex;
    li {
      position: relative;
      flex: 1;
      line-height: 1.203704rem;
      background: #f8b62d;
      color: rgb(92, 66, 27);
      text-align: center;
      font-size: 0.444444rem;
      &:nth-child(2){
      	border-left: 2px solid #000;
        border-right: 2px solid #000;
      }
      &.active {
        
        color: #fff;
        &:after {
          content: '';
          position: absolute;
          background: rgb(234, 85, 20);
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0.12963rem;
        }
      }
    }
  }
}

.scroller-cont {
  position: absolute;
  width: 9.537037rem;
  top: 2.805556rem;
  left: 0.231481rem;
  right: 0.231481rem;
  bottom: 0;
  dl{
  	background-color: #fff;
  	border-radius: 0.046296rem;
  	margin-bottom: 0.277778rem;
	  dt{
	  	font-size: 0.333333rem;
	  	padding:0.509259rem 0.231481rem 0.138889rem;
	  	margin: 0 0.277778rem;
	  	&>div{
	  		display: flex;
	  		justify-content: space-between;
	  	}
	  	span{

	  	}
	  	em{
	  		font-style: normal;
	  		color: #898989;
	  	}
	  	&.win{
	  		margin: 0;
	  		padding: 0 0.462963rem;
	  		height: 1.703704rem;
	  		background: #f8b62d;
	  		line-height: 1.703704rem;
	  		h4{
	  			font-weight: normal;
	  			font-size: 0.555556rem;
	  		}
	  		strong{
	  			font-size: 0.555556rem;
	  			font-weight: normal;
	  			color: #e83828;
	  		}
	  	}
	  	&.upcoming{
	  		margin: 0;
	  		padding: 0.185185rem 0.462963rem;
	  		height: 1.703704rem;
	  		background: #f8b62d;
	  		display: flex;
	  		flex-direction: column;
	  		justify-content: space-between;
	  		h4{
	  			font-weight: normal;
	  			font-size: 0.444444rem;
	  		}
	  		strong{
	  			font-size: 0.444444rem;
	  			color: #e83828;
	  			font-weight: normal;
	  		}
	  	}
	  	&.failure{
	  		margin: 0;
	  		padding: 0.185185rem 0.462963rem;
	  		height: 1.074074rem;
	  		background: #f8b62d;
	  		display: flex;
	  		flex-direction: column;
	  		justify-content: space-between;
	  		h4{
	  			font-weight: normal;
	  			font-size: 0.444444rem;
	  		}
	  		strong{
	  			font-size: 0.444444rem;
	  			color: #e83828;
	  			font-weight: normal;
	  		}
	  	}
	  }
	  dd{
	  	position: relative;
	  	margin: 0 0.277778rem;
	  	border-bottom: 2px solid #898989;
	  	ul{
	  		width: 6.944444rem;
	  		padding: 0.185185rem 0;
			  li.ball{
			  	width: 0.648148rem;
					height: 0.648148rem;
					line-height: 0.462963rem;
					font-size: 0.333333rem;
					margin:0.111111rem;
			  }
	  	}
		  .bet-info{
		  	position: absolute;
				right: 0.231481rem;
				top: 50%;
				transform: translateY(-50%);
				p{
					text-align: right;
					span{
						display: block;
						font-size: 0.333333rem;
						color:#c7481b;
						&:last-child{
							color:#000;
						}
					}
				}
		  }
		  &:nth-last-child(2){
		  	border-bottom: 0;
		  }
	  }
  }
}
.no-flex{
	.scroller-cont{
		dl{
			dt:first-child{
				&>div{
					display:block;
					overflow:hidden;
					span{
						float:left;
						white-space: nowrap;
					}
					em{
						float:right;
						white-space: nowrap;
					}
				}
			}
			dd{
				ul.balls{
					display: block;
					overflow: hidden;
					li.ball{
						float: left;
					}
				}
			}
		}
	}
}