.content{
	h2{
		height:161px;
		font-size:56px;
		text-indent:52px;
		color:#fff;
		line-height:161px;
	}
	.cont-wrapper{
		background:#fff;
		border-radius: 10px;
		margin:0 22px;
		padding: 0 20px;
		li{
			height: 144px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			font-size: 48px;
			padding: 0 30px;
			border-bottom: 1px solid #dadada;
			&.total{
				border-bottom: 0;
				label{
					font-weight: bolder;
					font-size: 56px;
				}
				p{
					font-weight: bolder;
					color: rgb(236,52,40);
				}
			}
			label{
				line-height: 144px;
			}
			p{
				font-weight:lighter;
				line-height: 144px;
			}
		}
	}
	.result-wrapper{
		p{
			font-size: 48px;
			color: #fff;
			font-weight: lighter;
			padding: 15px 60px;
			line-height: 70px;
		}
		i{
			font-size: 48px;
			font-weight: bolder;
			display: block;
			text-align: center;
			color: #fff;
			margin: 60px 0 0;
		}
	}
	.btn-cont{
		margin-top: 127px;
		.btn{
			margin-bottom: 74px;
			color:#ea5514;
			&.disable{
				color:#fff;
			}
		}
	}
}