*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
body{
	/*overflow: hidden;*/
    background: url(./assets/images/bg_1hdpi.png) no-repeat #1d2988;
    background-size:1080px auto;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.btn-cont{
	line-height: 96px;
	color: #ea5514;
	font-size: 48px;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.btn{
	display: inline-block;
	background: #f8b62d;
	padding: 0 55px;
	border-radius: 10px;
	min-width:600px;
}
header{
	position:relative;
	background:url('./assets/images/bannerhdpi.png') no-repeat;
	height:144px;
	overflow: hidden;
	img{
		position: absolute;
		left: 50px;
		top: 24px;
		width:96px;
	}
	h1{
		font-size:54px;
		line-height:144px;
		color:#fff;
		text-align: center;
	}
	.back{
		position: absolute;
		left: 50px;
		top: 24px;
		width:96px;
		height: 96px;
		background:url(./assets/images/back_btnhdpi.png) no-repeat;
		background-size:100%;
	}
}

.layer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 999;
	.content{
		position: absolute;
		background-color: #fff;
		border-radius: 10px;
		width: 837px;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		.close{
			display: block;
			width: 96px;
			height: 96px;
			background:url(./assets/images/delet_btnhdpi.png) no-repeat;
			background-size: 100%;
			margin: 15px;
		}
		h3{
			font-size: 72px;
			color: rgb(96,25,134);
			margin:20px 0 55px 0;
		}
		form{
			padding: 0 100px;
			text-align: left;
			dl{
				dt{
					font-size: 54px;
					text-indent: 15px;
					margin-bottom: 26px;
					span{
						color: #e60012;
						vertical-align: middle;
					}
				}
				dd{
					margin-bottom: 26px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					*>{
						vertical-align: middle;
					}
					label{
						font-size: 46px;
						margin-right: 70px;
					}
					input[type="text"]{
						display: block;
						border-radius: 10px;
						width: 100%;
						height: 96px;
						background-color: #dcdddd;
						border:1px solid #9fa0a0;
					}
					.radio{
						position: relative;
						&>span em{
							width: 34px;
							height: 34px;
							display: inline-block;
							border:2px solid #727171;
							border-radius: 50%;
							margin-right: 20px;
							position: relative;
						}
						input[type="radio"]:checked + span{
							em:before{
								position:absolute;
								content:'';
								width: 22px;
								height: 22px;
								background-color: #727171;
								left: 4px;
								top: 4px;
								border-radius: 50%;
							}
						}
						input[type="radio"]{
							display: none;
						}
					}
					select{
						font-size: 46px;
						flex: 1;
						font-size: 54px;
						border:1px solid #9fa0a0;
						margin: 10px;
						padding: 5px;
						border-radius: 10px;
						background-color: #fff;
					}
				}
			}
		}
	}
}