*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
html{
	background-color: #1d2988 !important;
}
body{
	/*overflow: hidden;*/
    background: url(./assets/images/bg_1hdpi.png) no-repeat #1d2988;
    background-size:10.0rem auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
a{
	text-decoration: none !important;
}
a:link,a:visited,a:hover,a:active{
	text-decoration: none !important;
}
li{
	list-style: none;
}

.balls{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	/*justify-content: space-between;*/
	padding: 0.092593rem 0;
	li.ball{
		display: block;
		list-style: none;
		width: 0.888889rem;
		height: 0.888889rem;
		font-size: 0.444444rem;
		line-height: 0.703704rem;
		background-color: #dcdddd;
		color: #595757;
		text-align: center;
		border-radius: 0.888889rem;
		margin:0.125rem;
		border:0.092593rem solid #dcdddd;
		font-weight: bolder;
		&.red{
			@extend li;
			&.active{
				border-color: #f8b62d;
				background-color: #e60012;
				color: #fff;
			}
		}
		&.blue{
			@extend li;
			&.active{
				border-color: #f8b62d;
				background-color: #036eb8;
				color: #fff;
			}
		}
	}
}
.btn-cont{
	line-height: 0.888889rem;
	color: #ea5514;
	font-size: 0.444444rem;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.btn{
	display: inline-block;
	background: #f8b62d;
	padding: 0 0.509259rem;
	border-radius: 0.092593rem;
	min-width:5.555556rem;
	&.disable{
		background-color:rgb(153,153,153);
		color:#fff;
	}
}
header{
	position:relative;
	background:url('./assets/images/bannerhdpi.png') no-repeat;
	height:1.333333rem;
	overflow: hidden;
	img{
		position: absolute;
		left: 0.462963rem;
		top: 0.222222rem;
		width:0.888889rem;
	}
	h1{
		font-size:0.5rem;
		line-height:1.333333rem;
		color:#fff;
		text-align: center;
	}
	.back{
		position: absolute;
		left: 0.462963rem;
		top: 0.222222rem;
		width:0.888889rem;
		height: 0.888889rem;
		background:url(./assets/images/back_btnhdpi.png) no-repeat;
		background-size:100%;
	}
}

.layer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 999;
	.content{
		position: absolute;
		background-color: #fff;
		border-radius: 10px;
		width: 7.75rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		.close{
			display: block;
			width: 0.888889rem;
			height: 0.888889rem;
			background:url(./assets/images/delet_btnhdpi.png) no-repeat;
			background-size: 100%;
			margin: 0.138889rem;
		}
		h3{
			font-size: 0.666667rem;
			color: rgb(96,25,134);
			margin:0.185185rem 0 0.509259rem 0;
		}
		form{
			padding: 0 0.925926rem;
			text-align: left;
			dl{
				dt{
					font-size: 0.5rem;
					text-indent: 0.138889rem;
					margin-bottom: 0.240741rem;
					span{
						color: #e60012;
						vertical-align: middle;
					}
				}
				dd{
					margin-bottom: 0.240741rem;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					*>{
						vertical-align: middle;
					}
					label{
						font-size: 0.425926rem;
						margin-right: 0.648148rem;
					}
					input[type="text"]{
						display: block;
						border-radius: 0.092593rem;
						width: 100%;
						height: 0.888889rem;
						font-size: 0.425926rem;
						/*background-color: #dcdddd;*/
						border:1px solid rgb(125,51,143);
						padding:0 0.138889rem;
					}
					.radio{
						position: relative;
						&>span em{
							width: 0.314815rem;
							height: 0.314815rem;
							display: inline-block;
							border:0.018519rem solid #727171;
							border-radius: 50%;
							margin-right: 0.185185rem;
							position: relative;
						}
						input[type="radio"]:checked + span{
							em:before{
								position:absolute;
								content:'';
								width: 0.203704rem;
								height: 0.203704rem;
								background-color: #727171;
								left: 0.037037rem;
								top: 0.037037rem;
								border-radius: 50%;
							}
						}
						input[type="radio"]{
							display: none;
						}
					}
					select{
						font-size: 0.425926rem;
						flex: 1;
						border:1px solid #9fa0a0;
						margin: 0.092593rem;
						padding: 0.046296rem;
						border-radius: 0.092593rem;
						background-color: #fff;
					}
				}
			}
			.tip{
				font-size: 0.333333rem;
				line-height: 0.444444rem;
				color: rgb(144,144,144);
			}
			.ftbar{
				position: absolute;
				bottom: 0.648148rem;
				width: 100%;
				left: 0;
				padding: 0 0.462963rem;
				a.next{
					float: right;
					text-align: right;
					font-size: 0.5rem;
					color: rgb(144,133,133);
					&:after{
						display:inline-block;
						content: '';
						width: 0.185185rem;
						height: 0.342593rem;
						margin-left: 0.324074rem;
						background:url(./assets/images/36_iconhdpi.png) no-repeat;
						background-size: 100%;
					}
				}
				a.prev{
					float: left;
					text-align: left;
					font-size: 0.5rem;
					color: rgb(144,133,133);
					&:before{
						display:inline-block;
						content: '';
						width: 0.185185rem;
						height: 0.342593rem;
						margin-right: 0.324074rem;
						background:url(./assets/images/36_iconhdpi-1.png) no-repeat;
						background-size: 100%;
					}
				}
			}
		}
	}
}

.no-flex{
	.layer{
		form dl dd{
			display: block;
			overflow: hidden;
			&>*{
				float:left;
			}
		}
	}
}