.mb166{
	padding-bottom: 1.537037rem;
}

header{
	position:relative;
	background:url('../assets/images/bannerhdpi.png') no-repeat;
	height:1.333333rem;
	overflow: hidden;
	img{
		position: relative;
		float:left;
		width:0.888889rem;
	}
	h1{
		float:right;
		font-size:0.666667rem;
		line-height:1.333333rem;
		color:#fff;
		margin-right:0.462963rem;
		em{
			font-size:0.333333rem;
			font-style:normal;
			font-weight: normal;
		}
	}
}
.notice{
	background-color: rgb(248,182,45);
	height: 1.333333rem;
	font-size: 0.333333rem;
	line-height: 0.333333rem;
	display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
	p{
		width: 100%;
		display: flex;
		padding: 0 0.222222rem;
		align-self: flex-start;
		span{
			flex:1;
			display: block;
			&:last-child{
				text-align:right;
			}
		}
	}
	strong{
		display: block;
		color: rgb(234,85,20);
		padding-left: 0.222222rem;
	}
	.status2{
		width: 100%;
		font-size:0.444444rem;
		text-align: center;
	}
}

.bets-selected{
	.bet-group{
		position: relative;
		border-radius: 0.092593rem;
		margin: 0.203704rem;
		background-color: rgba(0,0,0,0.7);
		padding: 0.231481rem;
		display: flex;
		.balls{
			width: 6.481481rem;
			.ball{
				width: 0.740741rem;
				height: 0.740741rem;
				line-height: 0.555556rem;
				font-size: 0.333333rem;
				margin:0.074074rem;
			}
		}
		.bet-info{
			position: absolute;
			right: 0.231481rem;
			top: 50%;
			transform: translateY(-50%);
			p{
				margin-right: 0.740741rem;
				text-align: right;
				span{
					display: block;
					font-size: 0.333333rem;
					color: #f8b62d;
					&:last-child{
						color:#c7481b;
					}
				}
			}
			img{
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 0.444444rem;
				height: 0.444444rem;
			}
		}
	}
}
.balls-wrapper{
	margin: 0.203704rem;
	padding: 0.231481rem;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0.092593rem;
	h2{
		font-size: 0.444444rem;
		color: #fff;
		width: 100%;
		display: flex;
		border-bottom: 1px solid #fff;
		margin-bottom: 0.018519rem;
		font-weight: normal;
		padding: 0.138889rem 0;
		span{
			vertical-align: middle;
			flex: 1;
			line-height: 0.444444rem;
			&:first-child:after{
				content:'';
				width: 0.444444rem;
				height: 0.444444rem;
				display: inline-block;
				background-color: #e60012;
				vertical-align: middle;
				border-radius: 0.444444rem;
				margin-left: 0.222222rem;
			}
			&.blue:first-child:after{
				background-color: #036eb8;
			}
			&:last-child{
				text-align:right;
			}
		}
	}
	
	.mult{
		padding:0.416667rem 0 0.324074rem;
		.tomult{
			display: flex;
			justify-content: center;
			text-decoration: none;
			&>*{
				font-size: 0.444444rem;
				line-height: 0.444444rem;
				color: rgb(284,182,45);
				display: inline-block;
				vertical-align: middle;
			}
			img{
				width: 0.444444rem;
				height: 0.444444rem;
				margin-right: 0.231481rem;
			}
		}
		.multctrls{
			display: flex;
			flex-direction: row;
			justify-content: center;
    		align-content: center;
			span{
				flex: 1;
				color: rgb(248,182,45);
				font-size: 0.444444rem;
				line-height: 0.888889rem;
			}
			.multbtns{
				align-self: flex-end;
				a,b{
					display: inline-block;
					width: 0.888889rem;
					height: 0.888889rem;
					background-color: rgb(248,182,45);
					font-size: 0.444444rem;
					text-align: center;
					line-height: 0.888889rem;
					color: #000;
					font-weight: bolder;
					border-radius: 0.092593rem;
					margin-right: 0.231481rem;
				}
				b{
					background: #fff;
				}
			}
		}
	}
}

.prize-wrapper{
	margin: 0.203704rem;
	h2{
		font-size: 0.444444rem;
		color: #fff;
		width: 100%;
		display: flex;
		font-weight: normal;
		padding: 0.138889rem 0.231481rem;
		span{
			vertical-align: middle;
			line-height: 0.444444rem;
		}
	}
	.box{
		background-color: #fff;
		border-radius: 0.092593rem;
		padding: 0.138889rem 0.185185rem;
		dl{
			line-height: 1.333333rem;
			display: flex;
			flex-direction: row;
			font-size: 0.444444rem;
			border-bottom: 1px solid #c8c8c8;
			dt{
				width: 2.314815rem;
				text-align: center;
				font-weight: bolder;
				border-right: 1px solid #c8c8c8;
			}
			dd{
				font-weight: lighter;
				padding-left: 0.185185rem;
			}
			&:last-child{
				border-bottom: 0;
			}
		}
	}
	.tip{
		font-size: 0.444444rem;
		line-height: 0.666667rem;
		text-align: center;
		color: #f5b72b;
		margin-top: 0.462963rem;
	}
}

.bbar{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 1.333333rem;
	width: 10.0rem;
	z-index: 10;
	padding: 0 0.416667rem;
	display: flex;
	flex-direction: row;
	background-color: #000;
	justify-content: space-around;
	.msg{
		width: 5.37037rem;
		background-color: #fff;
		padding: 0 0.324074rem;
		font-size: 0.444444rem;
		line-height: 1.018519rem;
		height: 1.018519rem;
		align-self: center;
		border-radius: 0.092593rem;
	}
	.btn{
		width: 3.333333rem;
		min-width:3.333333rem;
		height: 1.018519rem;
		padding: 0.092593rem 0;
		align-self: center;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-around;
		span:first-child{
			font-size:0.333333rem;
			color: #000;
			font-weight: bolder;
		}
		span:last-child{
			font-size: 0.444444rem;
			color: #e83828;
		}
	}
}
.loading{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
	z-index: 999;
	img{
		position: absolute;
		width: 10%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}

.no-flex{
	.notice{
		p{
			padding: 0.138889rem 0.222222rem 0.222222rem;
			span{
				width: 50%;
			}
		}
		.status2{
			padding-top: 0.462963rem;
		}
	}
	.balls-wrapper{
		h2{
			display: block;
			width: 100%;
			span{
				width: 50%;
				display: block;
				float: left;
				&:last-child{
					float:right;
				}
			}
			&:after{
				display: block;
				content: '';
				clear: both;
				height: 0;
			}
		}
		ul{
			clear: both;
			overflow: hidden;
			display: block;
			li{
				float: left;
			}
		}
		.multctrls{
			display: block;
			overflow: hidden;
			&>span{
				float: left;
			}
			.multbtns{
				float: right;
				white-space: nowrap;
			}
		}
	}
	.bet-group{
		.balls{
			display: block;
			.ball{
				float: left;
			}
		}
	}
	.bbar{
		padding-top: 0.157407rem;
		.msg{
			margin-right: 0.37037rem;
		}
		.btn{
			span{
				display: block;
			}
		}
	}
}