.list{
	padding: 0 0.333333rem;
	ul{
		margin-top: 0.518519rem;
		li{
			padding: 0 0.185185rem;
			height: 1.333333rem;
			line-height: 1.333333rem;
			border-bottom: 1px solid #fff;
			display:flex;
			flex-direction: row;
			justify-content: space-between;
			span{

				font-size: 0.444444rem;
				color: #fff;
				display: block;
				font-weight: lighter;
			}
			a,i{
				font-style: normal;
				font-size: 0.444444rem;
				font-weight: lighter;
				color: rgb(248,182,45);
			}
			a{
				text-decoration: underline;
			}
			&>*:last-child{
				align-self: flex-end;
			}
			.avatar{
				position: relative;
				top: -0.277778rem;
				width:1.333333rem;
			}
		}
	}
}