.wrapper {
  padding-top: 0.666667rem;
  .card {
    width: 8.518519rem;
    background-color: #fff;
    margin: 0 auto 0.092593rem;
    li {
      height: 1.333333rem;
      line-height: 1.333333rem;
      font-size: 0.444444rem;
      padding: 0 0.324074rem;
      font-weight: lighter;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      white-space: nowrap;
      &:first-child {
        border-bottom: 1px solid rgb(181, 181, 182);
      }
      a{
        flex:1;
        
        color:#000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      select,
      em {
        display: inline-block;
        color: #f8b62d;
        font-size: 0.444444rem;
        font-weight: lighter;
        font-style: normal;
        text-align: right;
        direction: rtl;
        border: none;
        background-color: #fff;
      }
      option {
        font-size: 0.444444rem;
      }
      .swither {
        position: relative;
        align-self: center;
        display: block;
        width: 0.898148rem;
        height: 0.898148rem;
        i {
          display: inline-block;
          width: 0.898148rem;
          height: 0.898148rem;
          background: url(../assets/images/enable_btn_downhdpi.png) no-repeat;
          background-size: cover;
        }
        input[type="checkbox"] {
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          width: 0.898148rem;
          height: 0.898148rem;
          &:checked+i {
            background: url(../assets/images/enable_btn_norhdpi.png) no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }
  .btn-cont {
    margin-top: 1.435185rem;
    .btn {
      color: #ea5514;
    }
  }
}
.no-flex{
  .card li{
    overflow:hidden;
    display:block;
    span{
      float:left;
    }
    select,
    em{
      float:right;
    }
    select{
      margin-top: 0.407407rem;
    }
    .download{
      display:block;
      overflow:hidden;
      margin-top:0;
      height: 1.333333rem;
    }
    a{
      margin-top: 0.222222rem;
    }
  }
}