.wrapper {
  padding-top: 72px;
  .card {
    width: 920px;
    background-color: #fff;
    margin: 0 auto 10px;
    li {
      height: 144px;
      line-height: 144px;
      font-size: 48px;
      padding: 0 35px;
      font-weight: lighter;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &:first-child {
        border-bottom: 2px solid rgb(181, 181, 182);
      }
      a,
      select,
      em {
        display: inline-block;
        color: #f8b62d;
        font-size: 48px;
        font-weight: lighter;
        font-style: normal;
        text-align: right;
        direction: rtl;
        border: none;
        background-color: #fff;
      }
      option {
        font-size: 48px;
      }
      .swither {
        position: relative;
        align-self: center;
        display: block;
        width: 97px;
        height: 97px;
        i {
          display: inline-block;
          width: 97px;
          height: 97px;
          background: url(../assets/images/enable_btn_downhdpi.png) no-repeat;
          background-size: cover;
        }
        input[type="checkbox"] {
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          width: 97px;
          height: 97px;
          &:checked+i {
            background: url(../assets/images/enable_btn_norhdpi.png) no-repeat;
          }
        }
      }
    }
  }
  .btn-cont {
    margin-top: 155px;
    .btn {
      color: #ea5514;
    }
  }
}
.no-flex{
  .card li{
    overflow:hidden;
    display:block;
    span{
      float:left;
    }
    a,
    select,
    em{
      float:right;
    }
    select{
      margin-top: 44px;
    }
    a{
      margin-top: 24px;
    }
  }
}