.side-cont{
	width:750px;
	padding: 97px 80px 0;
	height: 100%;
	background:url(../../assets/images/bg_3hdpi.png) no-repeat #920783;
	.profile{
		text-align: center;
		h3{
			font-size: 54px;
			color: #fff;
			font-weight: lighter;
			line-height: 160px;
		}
		.btn{
			display: block;
			color: #fff;
			line-height: 96px;
			font-size: 46px;
			width: 400px;
		}
	}
	ul{
		margin-top: 56px;
		li{
			height: 144px;
			line-height: 144px;
			border-bottom: 1px solid #fff;

			&.logined{
				border-top: 1px solid #fff;
				height:180px;
				line-height: 1.5;
				dl{
					height: 180px;
					display:flex;
					justify-content: space-between;
					padding-left: 20px;
					dt{
						font-size:48px;
						color:#fff;
						align-self: center;
						b{
							color: #f8b62d;
						}
					}
					dd{
						align-self: center;
						.btn{
							width:235px;
							min-width:235px;
							padding:0;
							height: 96px;
							color: #fff;
							font-size: 48px;
							text-align: center;
							line-height: 96px;
						}
					}
				}
			}
			&>a{
				font-size: 48px;
				color: #fff;
				display: block;
				font-weight: lighter;
				&:before{
					content:'';
					vertical-align: middle;
					float: left;
					margin-top: 22px;
					width: 97px;
					height: 97px;
					margin-right: 20px;
				}
				&.mn-bets:before{
					background: url(../../assets/images/mybets_iconhdpi.png) no-repeat;
				}
				&.mn-wallet:before{
					background: url(../../assets/images/mywallet_iconhdpi.png) no-repeat;
				}
				&.mn-profile:before{
					background: url(../../assets/images/myprofile_iconhdpi.png) no-repeat;
				}
				&.mn-settings:before{
					background: url(../../assets/images/setting_iconhdpi.png) no-repeat;
				}
				&:after{
					content:'';
					vertical-align: middle;
					float: right;
					margin-top: 22px;
					width: 97px;
					height: 97px;
					margin-right: 20px;
					background: url(../../assets/images/arrow-r.png) no-repeat;
				}
			}
		}
	}
}