.side-cont{
	width:6.944444rem;
	padding: 0.898148rem 0.740741rem 0;
	height: 100%;
	background:url(../../assets/images/bg_3hdpi.png) no-repeat #920783;
	.profile{
		text-align: center;
		h3{
			font-size: 0.5rem;
			color: #fff;
			font-weight: lighter;
			line-height: 1.481481rem;
		}
		.btn{
			display: block;
			color: #fff;
			line-height: 0.888889rem;
			font-size: 0.425926rem;
			width: 3.703704rem;
		}
	}
	ul{
		margin-top: 0.518519rem;
		li{
			height: 1.333333rem;
			line-height: 1.333333rem;
			border-bottom: 2px solid #fff;

			&.logined{
				border-top: 2px solid #fff;
				height:1.666667rem;
				line-height: 1.5;
				dl{
					height: 1.666667rem;
					display:flex;
					justify-content: space-between;
					padding-left: 0.185185rem;
					dt{
						font-size:0.444444rem;
						color:#fff;
						align-self: center;
						b{
							color: #f8b62d;
						}
					}
					dd{
						align-self: center;
						.btn{
							width:2.175926rem;
							min-width:2.175926rem;
							padding:0;
							height: 0.888889rem;
							color: #fff;
							font-size: 0.444444rem;
							text-align: center;
							line-height: 0.888889rem;
						}
					}
				}
			}
			&>a{
				font-size: 0.444444rem;
				color: #fff;
				display: block;
				font-weight: lighter;
				&:before{
					content:'';
					vertical-align: middle;
					float: left;
					margin-top: 0.203704rem;
					width: 0.898148rem;
					height: 0.898148rem;
					margin-right: 0.185185rem;
					background-size:cover;
					background-repeat:no-repeat;
				}
				&.mn-bets:before{
					background-image: url(../../assets/images/mybets_iconhdpi.png);
				}
				&.mn-wallet:before{
					background-image: url(../../assets/images/mywallet_iconhdpi.png);
				}
				&.mn-profile:before{
					background-image: url(../../assets/images/myprofile_iconhdpi.png);
				}
				&.mn-settings:before{
					background-image: url(../../assets/images/setting_iconhdpi.png);
				}
				&:after{
					content:'';
					vertical-align: middle;
					float: right;
					margin-top: 0.203704rem;
					width: 0.898148rem;
					height: 0.898148rem;
					margin-right: 0.185185rem;
					background: url(../../assets/images/arrow-r.png) no-repeat;
				}
			}
		}
	}
}

.no-flex{
	.side-cont ul li.logined dl{
		dt{
			margin-top: 0.12963rem;
		}
		dd{
			margin-top: 0.37037rem;
		}
	}
}