.scroller-cont {
  position: absolute;
  width: 10.0rem;
  top: 1.333333rem;
  left: 0;
  right: 0;
  bottom: 0;
  ol {
    padding: 0 0.462963rem;
    li {
      color: #fff;
      font-size: 0.333333rem;
      line-height: 0.814815rem;
      border-bottom: 1px solid #fff;
      p {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.article {
  padding: 3.472222rem 0.666667rem 0;
  p {
    font-size: 0.518519rem;
    color: #fff;
    font-weight: lighter;
    margin-bottom: 0.648148rem;
  }
}
.no-flex{
  .scroller-cont {
    ol {
      li {
        p {
          clear: both;
          display: block;
          overflow: hidden;
          span:first-child{
            float:left;
          }
          span:last-child{
            float:right;
          }
        }
      }
    }
  }
}